@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
  padding-left: 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
  background-color: #EAEAEA;
}
.form__icon {
  padding-right: 10px;
}
.form__placeholder {
  border: none;
  background-color: transparent;
  font-size: medium;
  font-weight: 700;
  color: black;
  width: 150px;
}

.body {
  font-family: "Roboto", sans-serif;
}

.btn-calltoaction {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.226);
  min-width: 200px;
  transition: 0.3s;
}
.btn-calltoaction a {
  color: white;
}
.btn-calltoaction:hover {
  background: linear-gradient(rgba(146, 86, 220, 0.5725490196), rgba(255, 121, 217, 0.5568627451));
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.5);
}

.fonction__bouttons {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.btn-choix {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 20px 40px;
  border-radius: 25px;
  margin: 20px;
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
  border: none;
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.226);
  transition: 0.3s;
}
.btn-choix__icon {
  margin-right: 10px;
  color: grey;
}
.btn-choix:hover {
  background-color: rgba(146, 86, 220, 0.1803921569);
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.btn-choix:hover i {
  color: #9356DC;
}

.BouttonMenu {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.226);
  overflow: hidden;
  -webkit-animation: slowly 1.2s both;
          animation: slowly 1.2s both;
}
.BouttonMenu-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.BouttonMenu-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.BouttonMenu-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.BouttonMenu-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.BouttonMenu-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.BouttonMenu-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.BouttonMenu-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.BouttonMenu-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.BouttonMenu-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.BouttonMenu-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.BouttonMenu .btnmenu {
  padding: 10px;
  flex: 1;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}
.BouttonMenu .btnmenu__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
.BouttonMenu .btnmenu p {
  white-space: nowrap;
  overflow: hidden;
}
.BouttonMenu .btnmenu__ingrédients {
  display: flex;
  justify-content: space-between;
}
.BouttonMenu .btnmenu__ingrédients-noms {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.BouttonMenu .btnmenu__ingrédients-prix {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.BouttonMenu .btnCheck {
  display: flex;
  background-color: #99E2D0;
  transition: 0.5s;
  border-radius: 0 20px 20px 0;
  width: 80px;
  align-items: center;
  justify-content: center;
  margin-right: -80px;
}
.BouttonMenu .btnCheck i {
  font-size: 0;
}
.BouttonMenu:hover .btnmenu {
  border-radius: 20px 0 0 20px;
}
.BouttonMenu:hover .btnCheck {
  border-radius: 0 20px 20px 0;
  text-align: center;
  margin-right: 0;
  font-size: large;
  transition: 0.5s;
}
.BouttonMenu:hover .btnCheck i {
  color: white;
  font-size: 25px;
  transform: rotate(-1turn);
  transition: transform 500ms ease-in-out;
}

.footer {
  background-color: black;
  padding: 20px;
}
@media all and (min-width: 780px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.footer__proposer {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer__proposer-icon {
  font-size: 11px;
  margin-right: 10px;
  vertical-align: 1px;
}
.footer__proposer-icon2 {
  font-size: 9px;
  margin-right: 9px;
  vertical-align: 2px;
}
.footer__légal {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer__légal a {
  color: white;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: -1px 14px 9px 2px rgba(0, 0, 0, 0.88);
}

.resa {
  text-align: center;
  background-color: rgb(247, 245, 245);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
}
.resa__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
}
.resa__slogan {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}
.resa a {
  color: white;
}

.fonction {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
@media all and (min-width: 780px) {
  .fonction__section {
    display: flex;
  }
}

.fonction__bouttons__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -1%;
}

.Restaurants {
  background-color: rgb(247, 245, 245);
}
@media all and (min-width: 780px) {
  .Restaurants__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.cardresto {
  display: flex;
  flex-direction: column;
  margin: auto auto 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.226);
}
@media all and (min-width: 780px) {
  .cardresto {
    margin: 30px;
  }
}
.cardresto__photo {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: end;
}
.cardresto:hover {
  box-shadow: 9px 3px 15px 1px rgba(0, 0, 0, 0.5);
}
.cardresto img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cardresto__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: black;
}
.cardresto__lieu {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: black;
}
.cardresto__étiquette {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  font-size: 23px;
}

.car {
  width: 23.5px;
  display: flex;
  transition: 0.3s;
}
.car .svg2 {
  display: none;
}
.car .svg2 img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.car:hover {
  transition: 0.3s;
}
.car:hover .svg1 {
  display: none;
  padding: 0;
}
.car:hover .svg2 {
  display: block;
}

.nouveau {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(16, 131, 87);
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: rgb(162, 216, 198);
}

.header-menu-1 {
  display: flex;
  padding: 20px 20px 20px 20px;
}
.header-menu-1__return {
  width: 5%;
  font-size: 25px;
}
.header-menu-1__return i {
  color: black;
}
.header-menu-1__logo {
  width: 90%;
  display: flex;
  justify-content: center;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 780px) {
  .photo img {
    height: 550px;
  }
}
.photo .menu {
  margin-top: -40px;
  width: 100%;
  border-radius: 40px;
  background-color: rgb(247, 245, 245);
  padding: 20px;
}
.photo .menu__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.photo .menu__title-nom {
  width: 100%;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: black;
}
@media all and (min-width: 530px) {
  .photo .menu__title-nom {
    text-align: center;
  }
}
.photo .menu__title i {
  padding-top: 7px;
}
.photo .menu__h3 {
  width: 50px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 20px;
  margin-top: 40px;
}

@media all and (min-width: 1000px) {
  .menu2 {
    width: 30%;
  }
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section {
  background-color: transparent;
}
@media all and (min-width: 1000px) {
  .section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@keyframes slowly {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
@-webkit-keyframes slowly {
  from {
    -webkit-opacity: 0;
    -webkit-transform: translateY(10px);
  }
  to {
    -webkit-opacity: 100%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}
.chargement {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #9356DC;
  border-bottom: 6px solid #FF79DA;
  border-right: 6px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.loadingspinner {
  background-color: rgb(236, 240, 241);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-animation: loading 3s;
          animation: loading 3s;
  visibility: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}