@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
  padding-left: 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
  background-color: rgb(243, 235, 235);
}
.form__icon {
  padding-right: 10px;
}
.form__placeholder {
  border: none;
  background-color: transparent;
  font-size: medium;
  font-weight: 700;
  color: black;
  width: 150px;
}

.body {
  font-family: "Roboto", sans-serif;
}

.btn-calltoaction {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 20px 15px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.226);
  min-width: 200px;
}
.btn-calltoaction a {
  color: white;
}
.btn-calltoaction:hover {
  background: linear-gradient(rgba(146, 86, 220, 0.5725490196), rgba(255, 121, 217, 0.5568627451));
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.5);
}

.fonction__bouttons {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.btn-choix {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 40px;
  border-radius: 25px;
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
  border: none;
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.226);
}
.btn-choix__icon {
  margin-right: 15px;
  color: grey;
}
.btn-choix:hover {
  background-color: rgba(146, 86, 220, 0.1803921569);
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.5);
}
.btn-choix:hover i {
  color: #9356DC;
}

.BouttonMenu {
  width: 350px;
  display: flex;
  margin-bottom: 20px;
}
.BouttonMenu .btnmenu {
  width: 350px;
  border-radius: 20px;
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.226);
  padding: 10px 20px 10px 10px;
}
.BouttonMenu .btnmenu__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.BouttonMenu .btnmenu p {
  white-space: nowrap;
  overflow: hidden;
}
.BouttonMenu .btnmenu__ingrédients {
  display: flex;
  justify-content: space-between;
}
.BouttonMenu .btnmenu__ingrédients-noms {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.BouttonMenu .btnmenu__ingrédients-prix {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.BouttonMenu .btnCheck {
  background-color: #99E2D0;
  padding: 0;
  border-radius: 0 20px 20px 0;
}
.BouttonMenu .btnCheck i {
  font-size: 0px;
}
.BouttonMenu:hover .btnmenu {
  width: 80%;
  border-radius: 20px 0 0 20px;
}
.BouttonMenu:hover .btnCheck {
  border-radius: 0 20px 20px 0;
  width: 20%;
  text-align: center;
  padding: 24px;
  font-size: large;
}
.BouttonMenu:hover .btnCheck i {
  color: white;
  font-size: 25px;
  transform: rotate(-1turn);
  transition: transform 500ms ease-in-out;
}

.footer {
  background-color: black;
  padding: 20px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.footer__proposer {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer__proposer-icon {
  font-size: 11px;
  margin-right: 10px;
  vertical-align: 1px;
}
.footer__proposer-icon2 {
  font-size: 9px;
  margin-right: 9px;
  vertical-align: 2px;
}
.footer__légal {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer__légal a {
  color: white;
}

.resa {
  text-align: center;
  background-color: rgb(247, 245, 245);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
}
.resa__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 20px;
}
.resa__slogan {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}
.resa a {
  color: white;
}

.fonction {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

.fonction__bouttons__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -1%;
}

.Restaurants {
  background-color: rgb(247, 245, 245);
}

.cardresto {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.226);
}
.cardresto__photo {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: end;
}
.cardresto:hover {
  box-shadow: 11px 5px 33px 1px rgba(0, 0, 0, 0.5);
}
.cardresto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cardresto__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: black;
}
.cardresto__lieu {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: black;
}
.cardresto__étiquette {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 23px;
}
.cardresto__étiquette-jaime {
  font-size: 23px;
  color: rgba(128, 128, 128, 0.582);
}
.cardresto__étiquette-jaime :hover {
  color: #9356DC;
}

.nouveau {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(16, 131, 87);
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(162, 216, 198);
}

.header-menu {
  display: flex;
  padding: 20px 20px 20px 20px;
}
.header-menu__return {
  width: 30%;
  font-size: 25px;
  margin-left: 20px;
}
.header-menu__return i {
  color: black;
}
.header-menu__logo {
  width: 70%;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo img {
  width: 100%;
  object-fit: cover;
}
.photo .menu {
  margin-top: -40px;
  width: 100%;
  border-radius: 40px;
  background-color: rgb(247, 245, 245);
  padding: 20px;
}
.photo .menu__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.photo .menu__title-nom {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: black;
}
.photo .menu__title i {
  padding-top: 7px;
}
.photo .menu__h3 {
  width: 50px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 20px;
  margin-top: 40px;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
