$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tercio:#99E2D0;
$box-shadow:  11px 5px 33px 1px rgba(0, 0, 0, 0.226);
$color-hover:#9256dc2e;
$background-color-fond-gris: rgb(247, 245, 245);
$background-hover: linear-gradient(#9256dc92, #ff79d98e);
$box-shadow-hover: 11px 5px 33px 1px rgba(0, 0, 0, 0.5);