$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tercio:#99E2D0;
$box-shadow:  9px 3px 15px 1px rgba(0, 0, 0, 0.226);
$color-hover:#9256dc2e;
$background-color-fond-gris: rgb(247, 245, 245);
$background-hover: linear-gradient(#9256dc92, #ff79d98e);
$box-shadow-hover: 9px 3px 15px 1px rgba(0, 0, 0, 0.5);


$transition: 0.3s;
