.resa {
    text-align: center;
    background-color: rgb(247, 245, 245);
    @include padding(30px, 30px,40px , 40px);
    &__title{
        @include typo__title(25px, 900);
        margin-bottom: 20px;
    }
    &__slogan{
        @include typo__title(20px, 300);
        margin-bottom: 40px;
    }     
    a{
        color:white;
    }
   
}

.fonction{
    @include padding(40px, 40px, 15px, 15px);

}

.fonction__bouttons__numero{
    @include flexbox(flex, center, center);
    @include typo-buttons(20px, 400, white);
    background-color: $color-primary;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -1%;
   
   
    
}
.Restaurants{
    background-color: $background-color-fond-gris;
}
.cardresto{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    width: 100%;    
    border-radius: 20px;
    box-shadow: $box-shadow;
    &__photo{
        display: flex;
        position: relative;
        align-items: flex-start;
        justify-content: end;
    }
    &:hover{
        box-shadow: $box-shadow-hover;
    }
    img{
        width: 100%;
        height: 180px;
        object-fit:cover;        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }    
    &__title{
        @include typo-buttons(18px, 900, black)
    } 
    &__lieu{
        @include typo-buttons(18px, 300, black);
    }
    &__étiquette{
       display: flex;
       justify-content: space-between;
       position: relative;
       padding: 20px;
       font-size: 23px; 
      
    }
    &__étiquette-jaime{
        
        i{
            font-size: x-large;
            position: absolute;
            right: 2rem;
            top: 30%;
            
        } 
        .fa-regular{
            opacity: 0;
        }
        
        &:hover{
           
           
                    
        
    }
}
}
.nouveau{
    position:absolute;
    @include typo-buttons(13px, 700, rgb(16, 131, 87));
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(162, 216, 198);     
}