// création de loader
// la roue
.chargement{
    border: 6px solid #f3f3f3;
    border-top: 6px solid $color-primary;
    border-bottom: 6px solid $color-secondary;
    border-right: 6px solid $color-tercio;
    border-radius: 50%;
    width: 100px;
    height:100px;

    // placement du loader au milieu de la page

    margin:auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
   -webkit-animation: spin 1.5s linear infinite;
   -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
// le loading spinner(page)
.loadingspinner {
    background-color: rgba(236, 240, 241, 1);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: loading 3s ;
    visibility: hidden;    
}




        
        
